@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TURING TECHNICAL</h1>
    <p class="lead">Turing Technical is the premier technological college for mathematicians and codebreakers.</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Alan Turing</h2>
        <img src="~/Images/quote-sometimes-it-is-the-people-no-one-imagines-anything-of-who-do-the-things-that-no-one-alan-turing-87-51-55.jpg" />
                  </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                "We are not interested in the fact that the brain has the consistency of cold porridge."
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/porridge.jpg" />
            </div>
        </div>
